.card{
 width:18rem;
 display:flex;
 flex-direction:column;
 height:110px;
 justify-content:center;
 padding-left:20px;
 border-radius:14px;
 box-shadow: 0 4px 8px rgba(0,0,0,0.2);
 font-size:20px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}