<div class="container py-5">

    <div class="mb-4">
        <h2 class="fw-bold mb-2">Course Catalog</h2>
        <p class="text-muted">Explore our collection of courses</p>
    </div>

    <div class="input-group mb-4 shadow-sm">
        <span class="input-group-text search-icon-group text-muted ps-3">
            <i class="fa-solid fa-magnifying-glass" (click)="searchCourses()"></i>
        </span>
        <input [(ngModel)]="searchCourse" type="text" class="form-control search-input py-2"
            placeholder="Search courses...">
    </div>

    <div class="d-flex flex-wrap align-items-center gap-2 mb-4">
        <div class="text-muted me-2"><i class="fa-solid fa-filter filterIcon"></i></div>
        <button class="btn  rounded-pill btn-sm px-3" [ngClass]="{'btn-primary': isActiveAll}"
            (click)="coursesFilter('All')">All</button>
        <button *ngFor="let category of categories" [ngClass]="{'btn-primary': isActiveCategory[category]}"
            (click)="coursesFilter(category)"
            class="btn border border-secondary-subtle  rounded-pill btn-sm px-3">{{category}}</button>

    </div>

    <p class="text-muted small mb-4">Showing {{courses.length}} courses</p>

    <div class="row g-4">
        <div *ngFor="let course of courses" class="col-md-6 col-lg-4 cursorPointer">
            <div class="card h-100 border-0 shadow-sm course-card overflow-hidden"
                [routerLink]="['/student/course', course.id]">
                <div class="card-img-container position-relative">
                    <img src={{course.imageUrl}} class="card-img-top" alt="Web Dev">
                </div>
                <div class="card-body">
                    <span
                        class="badge bg-primary-subtle text-primary mb-2 rounded-1 py-2 px-3 small category">{{course.category}}</span>
                    <h5 class="card-title fw-bold mt-2">{{course.title}}</h5>
                    <p class="card-text text-muted small mt-2">{{course.description}}</p>
                </div>

                 <div *ngIf="isAdmin">
                   <button type="button" (click)="deleteCourse(course.id)" class="btn btn-light border px-4 text-danger text-center mb-2 mt-2" style="width: 80%;background-color:#EFEFEF;margin-left: 8%;">Delete Course</button>

               </div>
                <span style="height: 1px; background-color: #e0e0e0" class="w-100 mb-2 mt-2 "></span>
                <div class="card-footer bg-white border-0 d-flex justify-content-between align-items-center pb-4 pt-0">
                    <small class="text-muted">{{ course.authorName?.value || course.authorName }} </small>
                    <span class="text-primary fw-bold" *ngIf="course.price!='0'">${{course.price}}</span>
                    <span class="text-primary fw-bold" *ngIf="course.price=='0'">

                        <button type="button" class="enroll-btn" (click)="enrollNow(course.id, $event)"
                            *ngIf="!course.isEnrolled && !isAdmin">
                            Enroll Now
                        </button>

                        <button type="button" class="enrolled-btn btn-secondary" disabled *ngIf="course.isEnrolled">
                            Enrolled
                        </button>

                    </span>
                </div>
            </div>
        </div>


    </div>
</div>