body {
    background-color: #f8f9fa;
}

.search-input {
    border-left: none;
}

.search-icon-group {
    background-color: white;
    border-right: none;
}

.card-img-container {
    height: 200px;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.course-card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.btn-filter {
    border-color: #dee2e6;
    color: #6c757d;
}

.btn-filter:hover,
.btn-filter.active {
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-left: none;
}

.filterIcon {
    color: #e0e0e0;
}

.cursorPointer {
    cursor: pointer;
}

.category {
    font-weight: normal;
}

.enroll-btn {
    background: linear-gradient(135deg, #4f46e5, #3a4ced);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(58, 91, 237, 0.3);
    transition: transform 0.2s;
}
.enrolled-btn {
    background: gray;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bold;
    cursor: not-allowed;
    box-shadow: 0 4px 15px rgba(128, 128, 128, 0.3);
    transition: transform 0.2s;
}