p{
    color:#4A5565;
}

h4{
    margin:30px 0;
}

.container{
    width:90%;
    margin:0 auto;
}

.input-group{
    width:50%;
    min-width:380px;
    border-radius:10px;
}

.custom-btn {
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ddd;
}

.custom-btn:hover {
  background-color: #ececec;
}

.custom-menu {
  background-color: #fff !important;
  border: 1px solid #ddd;
}

.custom-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}


.btn-primary {
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3; 
  transform: translateY(-2px);
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-content select,
.modal-content input[type="date"] {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 10px;
}

select option[disabled] {
  color: #888;
  font-style: italic;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn-enroll {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-enroll:hover {
  background-color: #0056b3;
}

.btn-cancel {
  background-color: #ccc;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #999;
}

.avatar {
  width: 40px;
  height: 40px;
  background: linear-gradient(#155DFC,#9810FA); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
}
