:host {
    display: block;
    background-color: #f8f9fa; /* رمادي فاتح جداً */
    min-height: 100vh;
}

.card {
    border-color: #e9ecef !important;
    transition: transform 0.2s;
}

.ls-1 {
    letter-spacing: 1px;
}

.form-control:focus, .form-select:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.15);
}

.input-group-text {
    background-color: #f8f9fa;
    border-color: #dee2e6;
}